@font-face
  font-family 'eurofurence';
  src url('../../assets/fonts/eurofurence_bold.ttf')  format('truetype');
  font-weight bold;
  font-style normal;


.fon_face
  height 911px
  background-image url("../../assets/pic/face/fon_forest.png")
  background-repeat no-repeat
  .over
    background-color white
    height 100px
    width 100%
    position absolute
    .row
      .offset
        border 2px solid red
        height 100px
        @media (max-width 768px)
          display none
      .logo
        border 1px solid blue
        height 100px
        @media (max-width 950px)
          width 80px
      .named
        border 2px solid black
        height 100px
        @media (max-width 992px)
          width 350px
        @media (max-width 1100px)
          margin-left 10px
        .name_site
          border 1px solid green
          height 50px
          @media (max-width 950px)
            width 180px
        .about_site
          height 50px
      .icon_tel
        position absolute
        top 40px
        left 975px
      .tel
        position absolute
        top 40px
        left 1025px
      .call_me
        position absolute
        top 30px
        left 1270px
        height 40px
        width 270px
        font-size 18px
        dispay block
        margin 0 auto
        border 1px solid #653e2b
        border-radius 20px
        background-color #fff
        padding 10px 20px
        transition all lianer .5s
        text-align center
        cursor pointer
        color #653e2b
        &:hover
          background-color #ccc
  .name
    position relative
    top 100px
    display block
    margin 0 auto
    text-align center
    font-size 85px
    color white
    @media (min-width 764px) and (max-width 992px)
      font-size 60px
    @media (max-width 764px)
      font-size 55px
  .about
    position relative
    top 110px
    display block
    text-align center
    margin 0 auto
    color white
    font-size 34px
    @media (min-width 764px) and (max-width 992px)
      font-size 34px
    @media (max-width 764px)
      font-size 30px
  .fon_button
    position relative
    top 160px
    height 105px
    background-image url("../../assets/pic/face/fon_for_button.png")
    background-repeat no-repeat
    color white
    @media (min-width 764px) and (max-width 1297px)
      height 200px
      width 100%
      background-repeat repeat-y
    @media (max-width 764px)
      height 300px
      background-repeat repeat-y
      top 130px
    .row
      border 1px solid red
      @media (min-width 764px) and (max-width 1297px)
        position inherit
        top 30px
      @media (max-width 764px)
        top 0
      .lay
        border 1px solid yellow
        .lit_button
          display inline-block
          position relative
          top -15px
          margin 0 0
          cursor pointer
          text-align center

          .image
            display inline-block
            width 70px
            height 70px
            border 1px solid white
            border-radius 35px
            img
              position relative
              top 15px
          .image, .text
            display inline-block
          .text
            display inline-block
            position relative
            top 25px
            width 180px
            margin-top 10px
  .come
    color white
    position relative
    top 200px
    display block
    text-align center
  .large_button
    position relative
    top 250px
    display block
    text-align center
    margin 0 auto
    background-image url("../../assets/pic/face/button_on_face.png")
    background-repeat no-repeat
    height 113px
    width 388px
    font-size 30px
    padding-top 30px
    cursor pointer